EAT&FORK.xcworkspace/xcuserdata/macbookairm1foodstory.xcuserdatad/UserInterfaceState.xcuserstate
EAT&FORK.xcworkspace/xcuserdata/macbookairm1foodstory.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
